#HeaderFrame{
	width:100%;position:relative;
	padding:1rem;
	background:url(../../assets/bgbg.jpeg);
	background-size:cover;
	background-position:center;
	font-family: 'Share Tech Mono', monospace;
	text-align:center;
	color:white;
	h3, h4, p{margin:0;}
}

.wasd_div{
	display:inline-block;
	img{height:85px;}
	background:white;
	border:2px solid dodgerblue;
	border-radius:10px;
	padding:10px;
	text-align:center;
	color:black;
}

.navGamesDiv{text-align:center;padding:10px 0;}

.navGame{display:inline-block;padding:0 10px;}

.headerLogin{
	position:absolute;top:1rem;right:1rem;text-align:right;
	h4, p{cursor:pointer;}
	h4{font-size:1.5rem;letter-spacing:-.1rem;padding-bottom:.5rem;}
	p{letter-spacing:-.1rem;font-size:1.25rem;}
	strong{background:rgba(240,240,240,.7);padding:.25rem .5rem;border-radius:10px;}
}

#NavBarFrame{
	padding-top:1rem;
	a{text-decoration:none;color:inherit;}
	ul{margin:0;padding:0;list-style-type:none;}
	li{display:inline-block;}
	li:first-child{padding-right:1rem;}
	h3{font-size:2.5rem;color:rgba(5,5,5,.7);padding:0 1.5rem;color:ghostwhite;}
}