#HomeFrame{
	width:100%;
	position:relative;
	background-image:linear-gradient(
		260deg,
		rgba(235,140,170,.7),
		rgba(255,255,255,.8),
		rgba(255,255,255,.7),
		rgba(195,235,255,1)
	),
	url(../../assets/live2.jpg);
}