
#LolEvents, #OwEvents{width:600px;display:inline-block;}
	#EventsView p{margin:0;font-size:.7rem;}

#EsportEvents{padding:1rem;}	
	#EsportEvents h2{margin:0;}

.teamDiv{display:inline-block;text-align:center;}
.teamImage{
	height:55px;
}
.tabs__labels{list-style-type:none;margin:0;padding:0;}
.gameTab{display:inline-block;padding:.5rem;}
	.gameTab a{color:inherit;text-decoration:none;}
