
#LolEvents, #OwEvents{width:300px;display:inline-block;}
	#EventsView p{margin:0;font-size:.7rem;}



.teamDiv{display:inline-block;text-align:center;}
.teamImage{
	height:55px;
}
.tabs__labels{list-style-type:none;}
.gameTab{display:inline-block;}
	.gameTab a{color:inherit;text-decoration:none;}
